<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Edit Todo</h2>
    <form action="/edit" method="post">
      <input type="text" name="task" value="<%= todo.task %>">
      <input type="hidden" name="todo_id" value="<%= todo.id %>">
      <button type="submit">Update Todo</button>
    </form>
    <br>
    
    

  </body>
</html>
